@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,800,900&display=swap");

$light: rgb(255, 255, 255);
$corSecundaria: rgb(78, 194, 221);
$corSecundariaDark: rgb(15, 65, 86);
$colorBtnComprar: rgb(113, 206, 75);
$lightGray: rgb(207, 207, 207);
